<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Emp_Deptno_Mgr</h1>
        <table border="3px">
            <tr>
                <th>DeptNo</th>
                <th>Empno</th>
                <th>Ename</th>
                <th>Manager Name</th>
                <th>Dname</th>
                <th>Job</th>
                <th>D_Location</th>
                <th>Hiredate</th>
                <th>Salary</th>
                <th>Commission</th>
            </tr>
        {% for eo in emd %}
            <tr>
                <td>{{eo.deptno}}</td>
                <td>{{eo.empno}}</td>
                <td>{{eo.ename}}</td>
                <td>{{eo.mgr.ename}}</td>
                <td>{{eo.deptno.dname}}</td>
                <td>{{eo.job}}</td>                
                <td>{{eo.deptno.dlocation}}</td>
                <td>{{eo.hiredate}}</td>
                <td>{{eo.sal}}</td>
                <td>{{eo.comm}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>